/* Body */
body {
  background: conic-gradient(#1a1a2e, #16213e, #0f3460, #1a1a2e);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

/* Analog Clock Container */
#analogContainer {
  position: relative;
  margin: auto;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  box-shadow: 0 0 15px #00ffff;

  background: url(/assets/clock.png) no-repeat center/100%,
    /* Clock Image */
      conic-gradient(from 0deg, #1a1a2e, #16213e, #0f3460, #1a1a2e); /* Gradient */
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
}

/* Invert only the image */
#analogContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(/assets/clock.png) no-repeat center/100%;
  filter: invert(1);
  opacity: 90%;
  z-index: 1;
}

/* Hands */
#hour {
  position: absolute;
  height: 10vw;
  left: 15vw;
  top: 5vw;
  border-left: 7px solid #e94560;
  border-radius: 30%;
  transform-origin: bottom;
  z-index: 999;
}
#minute {
  position: absolute;
  height: 12vw;
  left: 15vw;
  top: 3vw;
  border-left: 6px solid #f8f32b;
  border-radius: 30%;
  transform-origin: bottom;
  z-index: 999;
}
#second {
  position: absolute;
  height: 14vw;
  left: 15vw;
  top: 1vw;
  border-left: 4px solid #00e0ff;
  border-radius: 30%;
  transform-origin: bottom;
  transition: transform 1s linear;
  z-index: 999;
}

/* Digital Clock */
#digitalContainer {
  color: #00ffff;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  margin-bottom: 1vw;
  padding: 1vw;
  font-size: 2.5vw;
  text-shadow: 0 0 8px #00ffff, 0 0 20px #00d4ff;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 8px #00ffff;
}
